body {
  text-align: center;
}

h1 {
  color: #27296d;
  text-align: center;
}

h2 {
  font-size: 25px;
  color: #27296d;
}

.game {
  text-align: center;
}

.primary-button {
  text-align: center;
  color: #27296d;
  background-color: #a393eb;
  padding: 20px;
  border: 1px solid #885df1;
  border-radius: 20px;
  transition: all 200ms ease;
  font-size: 30px;
}

button:hover {
  color: #a393eb;
  background-color: #27296d;
}
